*{
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}
body{
    box-sizing: border-box;

    background: url("../img/07.jpg") no-repeat;
    background-size:100% 100%;
}
input{
    text-align: center;
}
#container{
    position: relative;
    width: 80%;
    height: 100%;
    border: solid 1px gainsboro;
    background-color: gainsboro;
    border-radius: 15px;
    margin: 0 auto;
    min-height: 480px;
    margin-top:70px;
    opacity: 0.80;
    padding: 0 20px;
    padding-bottom: 2em;
    box-shadow: -1px -1px 2px lightgray,2px 2px 2px black;
}
#main{

}
header{
    text-align: center;
    margin-top:.3em;
}
footer{
    position: absolute;
    bottom:3px;
    width: 100%;
    text-align: center;

}
#daqu{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.daqu-lable{
    background-color: ivory;
    font-size: 1.3em;
    border: solid 2px burlywood;
    margin-right: 15px;
    box-shadow: -1px -1px 2px lightgray,2px 2px 2px black;
    width:100px;
    height:50px;
    text-align: center;
    line-height: 50px;
}

.daqu:checked+label{
    background-color: lightgoldenrodyellow;
    font-size: 1.5em;
    color:red;
    box-shadow: -1px -1px 2px lightgray,0px 0px 2px black;
}
#id{
    width: 20em;
}

#exact{
    border-top: solid 2px darkgrey;
    border-bottom: solid 2px darkgrey;
    padding: 10px;
}
#id{
    margin-top: 1em;
}
#no-exact{
    border-bottom: solid 2px darkgrey;
    padding: 10px;
}
#no-exact input{
    width: 20em;
    margin-top: 1em;
    margin-right: 2em;
}
input{
    height: 30px;
}
#duanwei{
    width: 20em;
    height: 35px;
}
#form-button{
    width: 100%;
    height: 5em;
    margin: 10px auto;
    
}
#form-area{
    border-bottom: solid 2px darkgrey;
}
#output{
    display: flex;
    height: 100%;
    padding: 10px 0;
    justify-content: center;
    flex-wrap: wrap;
}
#output-sql{
    flex-basis: 100%;
    height: 3em;
    border-bottom: solid 2px darkgrey;
}

#table{
    width: 100%;
    text-align: center;
}
#add{
    border: rgba(255,255,0,1) solid 1px;
    background: rgba(200,200,190,0.1);
    position: fixed;
    bottom: 3rem;
    right: 20px;
    width: 100px;
    cursor:pointer;
    height: 100px;
    border-radius: 50%;
    transition: transform 2s;
}
#add:before{
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    background: rgba(200,100,100,1);
    left: 5px;
    top:40px;
}
#add:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 90px;
    background: rgba(200,100,100,1);
    left: 40px;
    top:5px;
}
#add:hover{
    animation: add-appear 2s 1;
    background: rgba(200,200,190,0.9);
    transform: rotate(360deg);
}
#add:active{
    background: rgba(200,200,100,0.9);
}
@keyframes add-appear{
    from{
        background:rgba(200,200,190,0.1);
    }
    to{
        background: rgba(200,200,190,0.9);
    }
}
#add-bg{
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.7);
    display: none;
    width: 100%;
    height: 100%;
}
#add-form{
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    margin-top: -250px;
    top:50%;
    background: rgba(220,220,220,0.8);
}
#add-form input,#add-form select,#add-save{
    text-align: center;
    display: block;
    position: relative;
    height: 35px;
    width: 20em;
    left: 50%;
    float: left;
    clear: both;
    top:10%;
    margin-left: -10em;
    margin-top: 1em;
    margin-right: 2em;
}
#add-form select,#add-save{
    width: 20.2em;
}
#add-form select{
    align: center;
    height: none;
    padding-left:8em;
}
#add-form h2{
    position: relative;
    text-align: center;
    top:40px;
}
@keyframes addFormAppear{
    from{
        margin-top:-1000px;
        background: rgba(255,255,255,0);
    }
    to{
        margin-top: -250px;
        background: rgba(220,220,220,1);
    }
}
@keyframes addFormDisplay{
    
    from{
        margin-top: -250px;
        background: rgba(220,220,220,1);
    }
    to{
        margin-top:-1000px;
        background: rgba(255,255,255,0);
    }
}

td > input{
    width: 8em;
}
.update,.delete{
    width: 100%;
    height: 3.2em;
    outline: none;
    border-radius: 3px;
}

.update{
    background-color: rgba(145,220,145,1);
}
.delete{
    background-color: red;
}